* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Inter', 'Noto Sans JP', sans-serif;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	color: #fff;
	text-align: center;
	background: url('imagenes/wp3400501.jpg') no-repeat center center/cover;
}

#contenedor {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	min-height: 80vh;
	width: 80vh;
	max-width: 600px;
	/*la siguiente línea establece el color de fondo con transparencia*/
	background-color: rgba(0, 0, 0, 0.5);
	padding: 20px;
	border-radius: 10px;
}

h1 {
	font-size: 2.5rem;
	width: 100%;
	margin: 20px 10px
}

ul {
	list-style: none;
	width: 100%;
	height: 80%;
}

.animes {
	font-size: 1.5rem;
	font-weight: bold;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 60px;
	margin: 7px 0;
}

.fondo-marron {
	background-color: #a7602e;
	padding: 10px 20px;
	border-radius: 5px;
	margin: 5px;
	transition: background-color 0.3s ease;
}

.fondo-naranja {
	background-color: #cf8f19;
	padding: 10px 20px;
	border-radius: 5px;
	margin: 5px;
	transition: background-color 0.3s ease;
}